.repos-details {
    width: 100%;
    margin-top: 1rem;
    .repos-listing {
        height: 37rem;
        background-color: blue;
        margin: 1rem 30px 0 0;
    }
    .dropdown {
        margin-left: 100px;
        .dropdown-toggle  {
            width: 75%;
        }
    }
}