.repos-details {
    width: 100%;
    margin-top: 1rem;
    ul {
        position: relative;
        left: 115px;
        list-style: none;
        width: 75%;
    }
    .repos-listing {
        height: 36rem;
        margin: 1rem;
        overflow-y: auto;
    }
    .dropdown {
        margin-left: 100px;
        .dropdown-toggle  {
            width: 75%;
        }
    }
    .repos-block {
        float:left;
        width: 45%;
        height: 200px;
        margin: 10px;
        border: 1.5px solid #DCDCDC;
        border-radius: 5px;
        .icon-and-info {
            width: 100%;
            height: 5rem;
            padding-top: 1.5rem;
            .repo-logo {
                margin-left: 15%;
                color: lightskyblue;
            }
            span {
                font-weight: 500;
                color: green;
                margin-left: 20%;
            }
            .description {
                margin: 3% 0 0 8%;
                color: grey;
            }
        }
        .stars-forks-views {
            margin: 5rem 0 0 2rem;
            .stars, .forks, .watch {
                display: inline-block;
                width: 25%;
                text-align: center;
                margin-left: 12px;
                border-radius: 3px;
                background-color: #DCDCDC;
            }
        }
    }
}