.filters {
    background-color: green;
    padding: 2rem;
    height: 100%;
    h4 {
        color: white;
        font-size: 1rem;
    }
    .multi-select-filter, .repo-stars-filter {
        margin-top: 1.5rem;
    }
    .repo-forks-filter {
        margin-top: 3rem;
    }
    .rangeslider__labels .rangeslider__label-item {
        color: white;
        font-size: 1rem;
    }
}